body {
    padding: 0;
    margin: 0;
    background: #ccc;
}

.app-tool {
    width: 90%;
    max-width: 900px;
    margin: auto;
}

button,
a {
    margin: 5px;
}

textarea {
    width: 100%;
    height: 200px;
}